.modal {
  position: relative;
  box-shadow: var(--box-shadow);
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  width: 344px;
  height: 267px;
  padding: 40px 30px;
  border-radius: 15px;
}

.closeBtn {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--color-btn-bg);
}

.closeBtn:hover {
  stroke: var(--color-accent);
}

.svg {
  width: 100%;
  height: 100%;
}

.modalTextBox {
  width: 316px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.modalTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-font-main);
}

.modalText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--color-font-main);
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.inputField {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  font-size: 14px;
  border: var(--border-form);
  border-radius: 15px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--color-font-second);

  width: 100%;
  outline: none;
}

.errorInput {
  border-color: var(--color-error);
}

.error {
  color: var(--color-error);
  font-size: 12px;
}

.modalBtnBox {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.btnSend,
.btnCancel {
  width: 500px;
  border-radius: 30px;
  padding: 14px 40px;
  color: var(--color-font-main);
  background-color: var(--color-second-bg);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

.btnSend:hover,
.btnCancel:hover {
  background-color: var(--color-second-bg-hover);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 560px;
    height: 344px;
  }

  .modalTextBox {
    gap: 24px;
  }

  .modalTitle {
    font-size: 28px;
  }

  .modalText {
    font-size: 18px;
  }
}
