.langSwitch {
  width: fit-content;
  position: relative;
}

.currentLang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 28px;
  padding: 1px 6px;
  background-color: var(--color-btn-bg);
  color: var(--color-bg-hover);
}

.icon {
  fill: var(--color-bg-hover);
  stroke: var(--color-bg-hover);
  width: 20px;
  height: 20px;
  pointer-events: none;
  transition: transform 0.3s ease;
}
.icon.isOpen {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .currentLang {
    padding: 6px 12px;
  }
}
