.textBtn {
  color: var(--color-font-secondary);
  text-align: center;
}

.forgotPasswordBtn {
  font-weight: 600;
  text-decoration: underline;
  color: var(--color-font-main);
  display: inline-block;
  border-radius: 15px;
  padding: 2px 10px;
  transition:
    color var(--transition-color),
    text-decoration-color var(--transition-color);
}

.forgotPasswordBtn:hover {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
  background-color: var(--color-second-bg-hover);
}

@media screen and (min-width: 768px) {
  .textBtn {
    font-size: 15px;
  }
}
