.resetComponent {
  width: 100%;
  border-radius: 30px;
  padding: 24px 16px 67px;
  background-color: var(--color-main-bg);
  height: calc(100vh - 32px);
}

.resetForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.resetTitle {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--color-font-main);
  text-align: center;
}


.resetLabel {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--color-font-second);
}


.resetInput {
  width: 100%;
  border: var(--border-form);
  border-radius: 15px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--color-font-second);
}

.resetInput:focus {
  border: var(--form-input-focus);
}

.resetInputError {
  width: 100%;
  color: var(--color-font-main);
  border: var(--border-form-error);
  border-radius: 15px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;

}

.resetErrorMessage {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--color-form-error);
}

.resetPassword {
  position: relative;
}

.passwordIconBtn {
  position: absolute;
  right: 18px;
  top: 18px;
  width: 20px;
  height: 20px;
}

.passwordIcon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: var(--color-font-second);
}

.resetButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.resetBtn {
  width: 100%;
  padding: 16px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--color-font-main);
  background-color: var(--color-second-bg);
}

.resetBtn:hover,
.resetBtn:focus {
  background-color: var(--color-second-bg-hover);
}

@media screen and (min-width: 768px) {
  .resetComponent {
    width: 540px;
    padding: 20px 40px;
    padding: 32px;
    height: calc(100vh - 64px);
  }

  .resetTitle {
    font-size: 36px;
    line-height: 1;
  }

  .resetForm {
    gap: 20px;
  }

  .resetLabel {
    font-size: 16px;
    line-height: 1.5;
  }

  .resetInput {
    font-size: 16px;
    line-height: 1.5;
  }

  .resetInputError {
    font-size: 16px;
    line-height: 1.5;
  }

  .resetErrorMessage {
    font-size: 14px;
    line-height: 1.5;
  }

  .resetButtonsContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .resetBtn {
    padding: 18px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .resetComponent {
    width: 672px;

  }

  .resetLabel {
    font-size: 18px;
    line-height: 1.5;
  }
}